//  Variables
//  -----------------------------
//
//  Table of Contents:
//
//  1. Colors
//  2. Fonts
//  3. Breakpoints

// 1. Colors
// ---------

// Brand colors
$darkblue: #202F56;
$brown: #443327;

// Mono
$white: #fff;
$black: #000;

// 2. Fonts
// ---------

$handwritten2: 'Clicker Script', cursive;
$handwritten: 'Satisfy', cursive;
$serif: Times, Georgia, serif;

// Font Sizes
//
// @type Map

$font-sizes: (
  'xs': 1.4rem,
  's': 1.6rem,
  'm': 2.0rem,
  'l': 2.8rem,
  'xl': 4.0rem
);


// 3. Breakpoints
// ---------
//
// @type Map

$breakpoints: (
  'l': 1100px,
  'm': 880px,
  's': 700px,
  'xs': 420px
);




// 4. Transition speeds
// ---------

$slow: 0.4s;
$regular: 0.25s;
$fast: 0.175s;
